<div class="center jumbotron">
  <!--<h1>ALPHA BLOG</h1> -->
</div>
<div>
  <div class="icon col-md-3">
    <p class="step">Step 1</p>
    <p class="description">找店家，找熟客</p>
  </div>
  <div class="icon col-md-3">
    <p class="step">Step 2</p>
    <p class="description">儲值成為店家會員</p>
  </div>
  <div class="icon col-md-3">
    <p class="step">Step 3</p>
    <p class="description">線上處理訂單</p>
  </div>
  <div class="icon col-md-3">
    <p class="step">Step 4</p>
    <p class="description">推撥通知取餐，線上扣款</p>
  </div>
</div>

<div>
  <div class="button col-md-6">
    <%= link_to 'sign up now', signup_path, class: "btn btn-danger btn-lg btn-xlarge" %>
  </div>
  <div class="button col-md-6">
    <%= link_to 'Log in now', login_path, class: "btn btn-danger btn-lg btn-xlarge" %>
  </div>
</div>